.textarea{
  /* width: 100%; */
  /* height: 150px; */
  padding: 12px 20px;
  box-sizing: border-box;
  border: 2px solid #ccc;
  border-radius: 4px;
  background-color: #f8f8f8;
  font-size: 14px;
  /* resize: none; */
  margin: 10px 0px;
  width: auto;
}
.btn {
  border: 0px;
  border-radius: 20px;
  cursor: pointer;
  height: auto;
  border-radius: 12px;
  padding: 4px 16px;
  font-size: 13px;
  font-weight: 600;
  width: auto;
  white-space: nowrap;
}
.btn_active{
  border: 0px;
  border-radius: 20px;
  cursor: pointer;
  height: auto;
  border-radius: 12px;
  padding: 4px 16px;
  font-size: 13px;
  font-weight: 600;
  width: auto;
  white-space: nowrap;

}
.block{
  display: flex;
  flex-direction: column;
  width: auto;
  border: 1px solid rgba(0, 0, 0, 0.16);
  border-radius: 14px;
  background-color: #fff;
  box-sizing: border-box;
  padding: 20px;
  margin: 20px 10px;
  height: auto;
}

body{
  background-color: #acabbc;
  height: 100%;
}